       <div style="border-radius: 25px; box-shadow: #B3B3B3 40px 40px 40px; border: 1px solid #000; float: left; padding: 10px; padding-right: 5px; height: 405; width: 278px; margin-right: 20px; margin-bottom: 20px;" > <!-- just experiment for right width LOL -->
         <div style="height: 385; overflow-x: hidden; overflow-y: auto;"> <!-- scroll here so not too ugly in windows, auto means scroll if you need it -->
           <a href=/movie_info/<%= url.id %>>
             <%= url.image_tag "style='max-height: 300px; max-width: 300px; filter: drop-shadow(5px 5px 5px #222); padding: 5px; margin-left: auto; margin-right: auto; display: block;'", "<br/>",  want_very_small: is_mobile(env), want_small: !is_mobile(env) %>
              <div style="text-align: center;"><%= url.name_with_episode %></div>
          </a>
          <%= render "views/_box_internals.ecr" %>
         </div>
       </div>
