Soon you will be able to create a "premium subscription" for $4/month (filters will remain free, regardless of subscription).  This will come with heightened support, access to advanced features, and ability to vote for which movies we edit.  <a href=/contact>Ping us</a> if you'd like to start a premium subscription and help everyone out!
  <br/>
  If you'd to support us in other ways, tell your friends, like our <a href=https://www.facebook.com/Play-it-My-Way-1812282865478777/#! >facebook page</a>, and subscribe to our email announcements.
    <form action=/send_me_mail method=POST >
    <input type="text" name="email_to_send_to" placeholder="yourname@site.com" />
    <input type="submit" value="Sign up!">
  </form>

