// generated at <%= Time.now %>.
// begin auto inserted unique for your movie:
var name="<%= name %>"; // movie name
var episode_name="<%= episode_name %>";
var mutes=<%= mutes %>;
var skips=<%= skips %>;
var yes_audio_no_videos=<%= yes_audio_no_videos %>;
var expected_current_url="<%= url %>";
var expected_episode=<%= db_url.amazon_episode_number %>;
var url_id=<%= db_url.id %>;
var request_host="<%= request_host %>"; // like localhost:3000
// end auto inserted unique stuffs
