{
"url": <%= db_url.to_json %>,
"tags":
  [<%= db_url.tags.map(&.to_json).join(",\n") %>],
"tag_edit_lists":
  <%= db_url.tag_edit_lists(env).map{|tag_edit_list| [tag_edit_list, tag_edit_list.tags_with_personalized_action.map{|tag, action| tag.default_action = action; tag}]}.to_json %>,
  "editor": <%= editor?(env).to_json %>
}
