    <div class="mid-bar">
        <h4><%= movies[:title] %></h4>
    </div>

      <% movies[:urls].each_with_index { |movie, idx| %>
        <div style="margin: 10px; float: left;">
          <%= render "views/_box_movie_nik.ecr" %> 
        </div>
     <% } %>
