You have quite a few options available for support.
<br/>
The first and easiest one is to ask a question on our <a href=https://www.facebook.com/groups/1241049372650953/>facebook users group page</a>.
<br/>
You can leave us feedback or a question
<a href=http://freeldssheetmusic.org/questions/ask?pre_fill=<%= URI.escape "Play it my way contact:" %> target="_blank">here</a>.
<br/>
You can also email rogerdpack@gmail.com we can't promise instant support but will email you back within 24 business hours :)