By using or visiting the youtube player pages on this website, you agree to our terms of service.  

Our terms of service include the youtube <a href=https://www.youtube.com/t/terms>terms of use</a>.   By using our youtube API Client, you are agreeing to be bound by the YouTube Terms of Service.  You must agree to these terms of use or not use these services.  We remote control your youtube playback to avoid scary scenes and scenes that might be offensive.  Your viewing differs from the original only for those scenes. 

We believe this kind of playback is in keeping with the youtube <a href=https://developers.google.com/youtube/terms/developer-policies#definition-api-client>Developer Policies</a> because the components are kept together (not isolated), still played "in sync" (i.e. promoted together), components are unmodified, but playback  is modified (not components themselves).  The youtube embed API gives controls, we use that to modify playback.  To us, video with "temporarily muted audio" (small portions) is not isolated or separated from the audio, it's just muted temporarily. 

Privacy policy available <a href=/privacy>here</a>, you also agree to that.
