Eventually we want to be able to have a little "watch list" so that on your mobile device you can watch previews, then make a watchlist so you know what to watch later on the big screen.  Ping us if you'd like to encourage this new feature!
