/* GENERAL STYLES */

body {
    background-color: rgb(0, 9, 56);
    color: white;
    font-family: 'Istok Web', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bitter', serif;
    font-weight: 700;
}

a {
    color: white;
    font-size: 1.4em;
}

a:hover {
    color: #FF8500;
}


/* MAIN NAVIGATION */

.is-at-bottom {
  top: 0 !important;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    /* Avoids showing two nav bars if no JavaScript */
    .no-js .top-bar {
        display: none;
    }
    .top-bar a {
        font-size: 1em;
    }
}


/* Medium and up */

@media screen and (min-width: 40em) {
    /* Avoids showing two nav bars if no JavaScript */
    .no-js .title-bar {
        display: none;
    }
}

[data-sticky] {
    width: 100%;
}

.sticky-container {
    z-index: 5;
}


/* Hamburger Menu at Small Screen Size */

.title-bar {
    background-color: rgba(0, 8, 56, 0.75);
}

#logo {
    height: 50px;
    padding-left: 2vh;
}

.title-bar-title {
    font-family: 'Bitter', serif;
    font-weight: 700;
 #   font-size: 1.4em; # don't want it to wrap iphone 5S
    padding-left: 2vh;
}


/* Fix accordion arrows for hamburger menu.  Not working. */
* Small only */ @media screen and (max-width: 39.9375em) {
    .dropdown.menu .is-dropdown-submenu-parent.is-up-arrow>a::after {
        content: none;
    }
    .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow>a::after {
    content: none; 
    }
}


/* Top Bar Menu at Medium and Up Screen Sizes */

.top-bar {
    background-color: rgba(0, 9, 56, 0.75);
    color: white;
    padding: 0;
}

.top-bar ul {
    background-color: rgba(0, 9, 56, 0.0);
    color: white;
}

.top-bar li {
    display: flex;
    align-items: center;
}

.top-bar .has-dropdown>a:after {
    border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#logo-words {
    height: 6vh;
}

.is-dropdown-submenu-parent a {
   padding-right: 30px;  /* some weird overlap bug... */
}

#donate {
    height: auto;
}

#search-icon {
    background-color: #001270;
 float: right;
}

#search-icon img {
    height: 25px;
    margin-left: 10px;
    margin-top: 3px;
}

#search-wrapper {
    float: left;
}

#new-search {
    height: 30px; 
    float: left;
}

.top-bar a {
    background-color: rgba(0, 9, 56, 0.0);
}

.submenu a {
    background-color: rgba(0, 9, 56, 0.75);
    width: 100%;
}

#log-in {
    
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .top-bar a {
        font-size: 1em;
    }
    #donate {
        max-height: 5vh;
    }
}


/* HERO SECTION (LARGE IMAGE) */

.hero-section {
    height: 70vh;
    overflow: hidden;
    position: relative;
}


.cb-slideshow,
.cb-slideshow:after {
    background-color: white;
    width: 100%;
    height: 110%;
    z-index: 0;
 
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    height: 70vh;
    color: transparent;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    -ms-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span { background-image: url(../images/family1_hd720.2.jpg) }
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/family2_hd720.2.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/family3_hd720.2.jpg);
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/family4_hd720.2.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	21% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	33% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	21% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	33% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	21% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	33% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	21% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	33% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	21% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	33% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}



/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

/* Call to action box in the middle of the hero section */

.action-box {
    height: auto;
    background-color: rgba(0, 9, 56, 0.65);
    color: white;
    margin-left: 3vh;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 10px;
    top:10%;
    border-radius: 15px;
    position: absolute;
    width: 60vw; # not height...iOS 5s needed this...
    min-width: 200px; # mobile hack LOL
}

.action-box p {
    font-size: 1.3em;
}

.get-app {
    font-size: 1.6em;
    font-weight: bold;
    background-color: #FFC469	;
    border-radius: 15px;
    color: black;
    padding: 1vh;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.italic {
    font-style: italic;
}

#social-media-icons {
 width: 12vh;
 float: right;

}

#social-media-icons img {
    position: relative;
    z-index: 100;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    .hero-section .grid-y a img {
        max-height: 17.5vh;
    }
    .action-box {
        top:20%;
    }
   .hero-section {
      height: 100vh;
   }
}


/* Medium and up */

@media screen and (min-width: 40em) {
    .hero-section .grid-y a img {
        max-height: 20vh;
    }
}


/* NEWLY FILTERED GALLERY */

.mid-bar {
    background-color: rgba(0, 9, 56, 0.75);
    padding-left: 3vh;
    color: white;
    padding-top: 2vh;
}


/* FOOTER */

footer {
    color: white;
    text-align: center;
    padding-top: 3vh;
}

footer a {
    font-size: 1em;
}


/* MEDIA RESPONSIVE SECTION FOR REFERENCE */


/* Small only */

@media screen and (max-width: 39.9375em) {}


/* Medium and up */
@media screen and (min-width: 40em) {}



/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* Print */
@media print,
screen and (min-width: 40em) {}

.menu-icon {
    width: 30px; /* gets teeny in mobile...original is 20.. */
}

.is-dropdown-submenu {
  min-width: 250px; /* insane attempt with sticky menu to see more at least anyway in iOS horizontal, where you can't see it all... */
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

html [type="button"], [type="reset"], [type="submit"] {
 // iOS would do empty/black buttons without this? yikes...
 color: white;
 background-color:grey;
}

